<div class="accordion-heading">
    <a id="chapter<%= ch %>" class="accordion-toggle btn" href="#ch<%= ch %>"><%= ch ? 'Chapter ' + ch + ' ' : '' %><%= title %></a>
</div>
<div id="ch<%= ch %>" class="accordion-body collapse"></div>
