<li<%= className ? ' class="' + className + '"' : '' %>>
    <a href="#ch/<%= ch %><%= sec ? '/' + sec : '' %>" data-title="<%= title %>" <%= placement ? 'data-placement="' + placement + '"' : '' %>><%= text %></a>
</li>
